@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        180deg,
        #7729aa -13.13%,
        #170a2d 0.17%,
        #0a061d 6.9%,
        rgba(10, 6, 30, 0.99) 36.38%,
        #010311 98.59%
    ) !important;
    color: white;
    height: 100vh;
}
